@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body {
    font-family: 'Kanit', sans-serif;
}
.bg-head {
    background: url(../img/portal-bg.png) center;
    background-size: cover;
    height: 300px;
    display: block;
}
body {
    background: #e0e0e0
}